body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#myCanvas {
    position: absolute;
    margin: 20px;
    border: solid 1px #000;
    pointer-events: none;
    width: 200px;
    height: 200px;
    background-color: #fff;
    bottom: 0;
    display: none;
}

#buttonlist {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 280px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

#buttonlist::-webkit-scrollbar {
    width: 8px;
}

#buttonlist::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(102, 102, 102);
}

#buttonlist button {
    z-index: 2;
    display: block;
    overflow: hidden;
    width: 250px;
    height: 65px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease 0s !important;
    direction: rtl;
    text-align: left;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    pointer-events: auto !important;
    animation: a 1s;
}

@keyframes a {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#buttonlist button:first-child {
    margin-top: 10px;
}

#buttonlist button:last-child {
    margin-bottom: 400px;
}

button.none {
    background-color: rgb(211, 215, 215);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease 0s !important;
}

button.active {
    --color: rgba(0, 172, 6, 0.56);
    z-index: 2 !important;
    background-color: var(--color);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all 0.3s ease 0s !important;
    height: 100px !important;
    font-size: 20px !important;
}

button .time {
    font-size: 14px;
    line-height: 10px;
}

button .name {
    font-size: 18px;
    line-height: 10px;
}

#status {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
    max-height: calc(100% - 60px);
    margin: 10px;
    padding: 10px;
    background-color: rgb(211, 215, 215);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    animation: b 0.5s;
    transition: all 0.3s ease 0s !important;
    scroll-behavior: smooth;
}

#status::-webkit-scrollbar {
    width: 8px;
}

#status::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(102, 102, 102);
}

.statusText {
    font-size: 16px;
    animation: b 0.5s;
}

@keyframes b {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
